@media(min-width: 700px){
    .tekstboks1 {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr ;
    }
}

@media(min-width: 700px){
    .tekstboks2 {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr ;
    }
}

